<!-- Page footer-->
<footer class="footer-container">
    <span>&copy; 2018 - Angle</span>
    <span class="d-inline d-sm-none">XS</span>
    <span class="d-none d-sm-inline d-md-none">SM</span>
    <span class="d-none d-md-inline d-lg-none">MD</span>
    <span class="d-none d-lg-inline d-xl-none">LG</span>
    <span class="d-none d-xl-inline">XL</span>
</footer>

