@model Tp.Website.Models.QuestionBank.AddViewModel
@{
    ViewData["Title"] = "Add";
}

<div class="content-wrapper">
    @await Html.PartialAsync(MVC.Shared.Views._ContentHeader, Model.ContentHeaderViewModel)

    <div class="row">
        <div class="col-lg-4">
            @await Html.PartialAsync(MVC.QuestionBank.Views._AddQuestion, Model.AddQuestionViewModel)
        </div>
    </div>
</div>

@section scripts
{
    <script src="/js/QuestionBank/question_bank__add.js"></script>
}

