@model Tp.Website.Models.QuestionBank.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    @await Html.PartialAsync(MVC.Shared.Views._ContentHeader, Model.ContentHeaderViewModel)

    <div class="row">
        @foreach (var questionBankSummaryViewModel in Model.QuestionBankSummaryViewModels)
        {
            @await Html.PartialAsync(MVC.QuestionBank.Views._QuestionBankSummary, questionBankSummaryViewModel)
        }
    </div>
</div>

@section Scripts
{
    <script src="/js/QuestionBank/question_bank__index.js"></script>
}

