@model Tp.Website.Models.QuestionBank.ListByCategoryViewModel
@{
    ViewData["Title"] = "ListByCategory";
}

<div class="content-wrapper">
    @await Html.PartialAsync(MVC.Shared.Views._ContentHeader, Model.ContentHeaderViewModel)
    
    <div class="row">
        <div class="col-12">
            <ol>
                @foreach (var question in Model.Questions)
                {
                    <li data-question-id="@question.Key">@question.Value</li>
                }
            </ol>
        </div>
    </div>
</div>
